.popup {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  transition: height 0s 0.4s, opacity 0.4s 0s;
  opacity: 0;
}
