.element__like {
  position: absolute;
  right: 5px;
  top: 5px;
  background: url(../../../images/heart.svg);
  border: none;
  min-width: 22px;
  min-height: 19px;
  padding: 0;
}

.element__like:hover {
  cursor: pointer;
  background: url(../../../images/heart-hover.svg);
}

.element__like:active {
  background: url(../../../images/heart-active.svg);
}
