.popup__line {
  border-bottom: 1px solid #000000;
  opacity: 0.2;
  margin-left: 36px;
  margin-right: 36px;
}

@media (max-width: 603px) {
  .popup__line {
    margin-left: 22px;
    margin-right: 22px;
  }
}
